**Introduction**

The following project is to give the user an insight of different topics within statistics which is an important factor within machine learning. The aim is so that the reader/user will be equipped with the basics to advanced understanding of different topics within statistics.

Statistics is a branch in mathematics that collects and analyzes numerical data for the purpose of giving us insight concerning the given data. Statistics can be known as the backbone of machine learning that provides it the tools and techniques to analyze and interpret data. It gives us a theoretical framework from which different machine learning algorithms are built.

Also, I want to point out that none of my passages or definitons will be generated by an AI, because this also an outline of my journey as I learn statistics, please enjoy! I plan to constantly update this as I learn. :)

# Central Tendency

The central tendency is a value that will us the typical number within our data. It can be said as the center point of our dataset. It includes the following:

*   **Mean**
*   **Median**
*   **Mode**

**The Mean**

The mean is known as the average number within a dataset. It is calculated by *the sum of the numbers* (*x*) occuring in the dataset, and dividing it by the population size which is denoted as *N*. The following figure is the formula denoting the mean in statistics:![The Mean.png]()

In [17]:
#Calculate the mean of the number of students per class enrolled in a statistis course offered by a university.

number_of_students = [25, 27, 18, 19, 15]
mean = sum(number_of_students)/len(number_of_students)
print(mean)

20.8

In [18]:
#Calculate the mean of the number of students per class enrolled in a statistis course offered by a university with the uses of a function.

def mean(numbers):
  total = sum(numbers)
  size = len(numbers)
  mean = sum(numbers)/len(numbers)
  return mean

mean(number_of_students)

20.8

When it comes to the mean, having an extreme outlier in our dataset can have a heavy effect, the following code will give a demonstration of how an outlier can have a big impact of the average number of a dataset.

In [19]:
number_of_students.append(100) #This will be adding a number of 100 students in our previous dataset.
mean(number_of_students)

34.0

In [20]:
#Calculate the mean of the time it takes for a customer to check out a Starbucks.

number_of_customers = [6, 4, 2, 5, 4, 1, 5]
mean(number_of_customers)

3.857142857142857

In [22]:
#Calculate the mean concerning two model of cars that has gone through six trials of testing, and tell which model averages more.

model_A = [22, 24, 30, 19, 20, 27]
model_B = [21, 25, 27, 23, 21, 28]

if mean(model_A) > mean(model_B):
  print("The average of model A is: ", mean(model_A), "per gallon")
  print("The average of model B is: ", mean(model_B))
  print("Car Model A averages more miles per gallon than Model B")
else:
  print("The average of model A is: ", mean(model_A))
  print("The average of model B is: ", mean(model_B))
  print("Car Model B averages more miles per gallon than Car Model A")

The average of model A is:  23.666666666666668
The average of model B is:  24.166666666666668
Car Model B averages more miles per gallon than Car Model A

**The Median**

This is the value that is within the middle of our data set when we organize the values within our dataset from least to greatest. In our formula:

*i* represents the index point for the median.

Because 50% of our data is less than the middle value, *P = 50*.

*n* is the number of data points.

Because we want find the number right in the middle, we will divide 50 by 100.
The image gives us the formula that is use to calculate the median or the number that is exact right at the middle within our dataset.

![The Median.png]()